<!DOCTYPE html>
<html>
	<link rel = "stylesheet" href = "welcome.css">
	<body>
		<div class = "welcomeBorder"></div>
		<h1 class = "welcomeMsg">Welcome! What would you like to do?</h1>
		<div class = "searchButton">
			<a href = "searchBook">
				<button>Find a Book!</button>
			</a><br>
		</div>
        <div class = "searchGenre">
			<a href = "searchGenre">
				<button>Search for top books by genre!</button>
			</a><br>
		</div>
		<div class = "signInButton">
			<a href = "signIn">
				<button>Already a BillyBooks Member? Sign In!</button>
			</a><br>
		</div>
		<div class = "signUpButton">
			<a href = "signUp">
				<button>Not a BillyBooks Member? Sign Up!</button>
			</a>
		</div>
	</body>
</html>
